body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #464646;
  font-family: Arial, sans-serif;
}

#countdown {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
}

#delay {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ff6060;
}

#penalty{
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ff6060; 
}

#square {
  width: 200px;
  height: 200px;
  background-color: green; /* Colore iniziale */
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

#ball {
  margin-bottom: 600px;
}

#circle {
  margin-bottom: 600px;
}
